__pycache__
*/__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
env/
venv/
.venv/
.eggs/
*.egg-info/
dist/
build/
.coverage
.tox/
.nox/
test/
.pytest_cache/
.mypy_cache/
.DS_Store
Thumbs.db
.git
.gitignore
.dockerignore
README.md
docker-compose.yml
docker-compose.yaml
Dockerfile
.vscode/
.idea
copy.sh
tests/
result_excel